{% extends "base.html" %}

{% block title %}Classifica Est - NBA Statistics{% endblock %}

{% block content %}
 

    <h1 style="text-shadow:
    -1px -1px 0 #dd8913,  
    1px -1px 0 #dd8913,
    -1px 1px 0 #dd8913,
    1px 1px 0 #dd8913;text-align: center;color: rgb(255, 255, 0);font-size: 4em; margin: 0.5em 0;">Campionato di Est</h1>

<section class="classifica">
    <table>
        <thead>
            <tr>
                <th>Nome Squadra</th>
                <th>Vittorie</th>
                <th>Sconfitte</th>
                <th>% Vittorie</th>
                <th>Casa</th>
                <th>Transf</th>
            </tr>
        </thead>
        <tbody>
            {{ table_rows|safe }}  <!-- dato da passare sta in init-->
           
        </tbody>
    </table>
</section>
{% endblock %}