{% extends "base.html" %}

{% block title %}List Players - NBA Statistics{% endblock %}

{% block content %}
<section class="statistics">
    <h2>List Players</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>AGE</th>
            <th>G</th>
            <th>POS</th>
        </tr>
        {% for player in players %}
        <tr>
                    <td>{{ player.Name }}</td>
                    <td>{{ player.Tm }}</td>
                    <td>{{ player.Age }}</td>
                    <td>{{ player.G }}</td>
                    <td>{{ player.Pos }}</td>
                </tr>
                {% endfor %}
                
            </table>
</section>
{% endblock %}
       