{% extends "base.html" %}

{% block title %}Top Players - NBA Statistics{% endblock %}

{% block content %}
<section  id="top-players" >
    <div class="row">
        <div class="col-md-6">
            <h2 style="   text-align: center;  
            font-size:36px;     
            color: rgb(248, 86, 83);">Top Scorer</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>SQUADRA</th>
                        <th>VALORE</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Riga 1, Colonna 1</td>
                        <td>Riga 1, Colonna 2</td>
                        <td>Riga 1, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 2, Colonna 1</td>
                        <td>Riga 2, Colonna 2</td>
                        <td>Riga 2, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 3, Colonna 1</td>
                        <td>Riga 3, Colonna 2</td>
                        <td>Riga 3, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 4, Colonna 1</td>
                        <td>Riga 4, Colonna 2</td>
                        <td>Riga 4, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 5, Colonna 1</td>
                        <td>Riga 5, Colonna 2</td>
                        <td>Riga 5, Colonna 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2 style="   text-align: center;  
            font-size:36px;     
            color: rgb(248, 86, 83);">Miglior Tiratore da 3</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Colonna 1</th>
                        <th>Colonna 2</th>
                        <th>Colonna 3</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Riga 1, Colonna 1</td>
                        <td>Riga 1, Colonna 2</td>
                        <td>Riga 1, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 2, Colonna 1</td>
                        <td>Riga 2, Colonna 2</td>
                        <td>Riga 2, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 3, Colonna 1</td>
                        <td>Riga 3, Colonna 2</td>
                        <td>Riga 3, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 4, Colonna 1</td>
                        <td>Riga 4, Colonna 2</td>
                        <td>Riga 4, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 5, Colonna 1</td>
                        <td>Riga 5, Colonna 2</td>
                        <td>Riga 5, Colonna 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 style="   text-align: center;  
            font-size:36px;     
            color:  rgb(248, 86, 83);;">Tabella 3</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Colonna 1</th>
                        <th>Colonna 2</th>
                        <th>Colonna 3</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Riga 1, Colonna 1</td>
                        <td>Riga 1, Colonna 2</td>
                        <td>Riga 1, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 2, Colonna 1</td>
                        <td>Riga 2, Colonna 2</td>
                        <td>Riga 2, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 3, Colonna 1</td>
                        <td>Riga 3, Colonna 2</td>
                        <td>Riga 3, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>neirjfvre</td>
                        <td>Riga 4, Colonna </td>
                        <td>Riga 4, Colonna 3</td>
                    </tr>
                    <tr>
                        <td>Riga 5, Colonna 1</td>
                        <td>Riga 5, Colonna 2</td>
                        <td>Riga 5, Colonna 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2 style="   text-align: center;  
            font-size:36px;     
            color:  rgb(248, 86, 83);;">Tabella 4</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Colonna 1</th>
                            <th>Colonna 2</th>
                            <th>Colonna 3</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Riga 1, Colonna 1</td>
                            <td>Riga 1, Colonna 2</td>
                            <td>Riga 1, Colonna 3</td>
                        </tr>
                        <tr>
                            <td>Riga 2, Colonna 1</td>
                            <td>Riga 2, Colonna 2</td>
                            <td>Riga 2, Colonna 3</td>
                        </tr>
                        <tr>
                            <td>Riga 3, Colonna 1</td>
                            <td>Riga 3, Colonna 2</td>
                            <td>Riga 3, Colonna 3</td>
                        </tr>
                        <tr>
                            <td>Riga 4, Colonna 1</td>
                            <td>Riga 4, Colonna 2</td>
                            <td>Riga 4, Colonna 3</td>
                        </tr>
                        <tr>
                            <td>Riga 5, Colonna 1</td>
                            <td>Riga 5, Colonna 2</td>
                            <td>Riga 5, Colonna 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</section>
{% endblock %}
       